.axis-container {
  text-align: center;
  display: flex;
  height:100vh;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

}

.axis {
    width: 90vw;
    height: 100vh;
    position: relative;
}

#top-marker {
    top: 0;
    left: 50%;
}

#bottom-marker {
    bottom: 0;
    left: 50%;
}

#left-marker {
    top: 50%;
    left: 0;
}

#right-marker {
    top: 50%;
    right: 0;
}

.line {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
}

#add-card-form {
    margin: 0 10px 50px 10px;
}

.axis-title {
    position: absolute;
    z-index: 1;
    margin: 0;
}

.top-title {
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-title {
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.left-title{
    left: 0;
    top: 52%;
    transform: translateY(-50%);
}

.right-title{
    right: 0;
    top: 52%;
    transform: translateY(-50%);
}
