/*problem: inheritence from pqrent wtyle*/
div#password-input-section {
    position: absolute;
    bottom: 30vh;
    left: 30vw;
    width: 400px;
    height: 300;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: #ffe5e5;
}

/*#password-input-section
input#password-input */
.password {
    margin: 20px auto 30px auto;
    height: 30px;
    width: 300px;

}

#password-input-section
button#submit-button {
    height: 30px;
    width: 250px;
    margin: auto auto 20px auto

    
} 