.App {
  text-align: center;
  display: flex;
  height:100vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

.axis {
  width: 50em;
  height: 50em;
  position: relative;
}

.axis div {
  position:absolute;
}

#top-marker {
  top: 0;
  left: 50%;
}

#bottom-marker {
  bottom: 0;
  left: 50%;
}

#left-marker {
  top: 50%;
  left: 0;
}

#right-marker {
  top: 50%;
  right: 0;
}

.line {
  width:100%;
  height:100%;
  position:absolute;
  left:0;
}

.figure-card {
  width: 100px;
  height: 100px;
  background-color: #b4b4b4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#add-card-form {
  position: absolute;
  left: 40%;
  top: -20px;
}

.axis-title {
  position: absolute;
  z-index: 1;
  margin: 0;
}

.top-title {
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-title {
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.left-title{
  left: 0;
  top: 52%;
  transform: translateY(-50%);
}

.right-title{
  right: 0;
  top: 52%;
  transform: translateY(-50%);
}