
.axis-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #282c34;
  width: 10vw;
  height: 100%;
  background-color: #ffe5e5;
  position: absolute;
  z-index: 100;
  left:0;
  transition: width 0.5s;

}

.hamburger-icon {
  width:25px;
  height:25px;
}
