#login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  text-align: center;
}

#login-page button {
  padding: 8px;
  width: 400px;
}

#login-page input {
  padding: 8px;
  width: 380px;
}

#login-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-page form input {
  display: block;
  margin-bottom: 8px;
}